@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior: smooth;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: #008ED3 !important;
  font-size: 1.5rem; 
  margin: 0 auto !important;
}
.slick-dots button::before{
  font-size: 0.6rem !important;
}

.slick-dots li.slick-active button:before {
  color: #008ED3 !important; /* Red active dot */
}
